 
 body{
background: linear-gradient(to bottom left,#4DAB7A , #BB6239 ); /* Standard syntax */
}

.Idioma{
	margin-left: 400px;
	margin-top: 30px;

}

.Idioma h4{
	color: white;
}

.logo1{
	width: 40%;
	margin-left: 300px;
	margin-top: 100px;
}

.mail{
	width: 30%;
	margin-left: 330px;
	margin-top: 70px;
	height: 50px;

}

.contrasenia{
	width: 30%;
	margin-left: 330px;
	margin-top: 15px;
}

.boton{
	width: 30%;
	margin-left: 330px;
	margin-top: 30px;
	height: 30px;
	background: linear-gradient(to bottom left,#4DAB7A , #BB6239 );
	border: transparent;
	height: 50px;
	color: white;
}

.olvido h4{
	margin-left: 260px;
	margin-top: 30px;
	color: white;
}

.siguiente h4{
	margin-left: 450px;
	margin-top:5px;
	color: white;
}

.icono hr{
	width: 200px;
	display: inline-block;
}

.icono{
	margin-left: 270px;
	color: white;
}

.facebook{
	margin-left: 330px;
	margin-top: 15px;
}

.facebook h3{
	display: inline-block;
	margin-left: 10px;
	color: white
}

.final{
	margin-left: 360px;
	margin-top: 380px;
	color: white;
}
